.home {
    text-align: center;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .book-btn {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
  }
  .background{
    padding: 10px;
    justify-content: center;
  }