/* Keyframes for animations */
@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Web view styles */
.navbar-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0; /* Optional: Add a background color */
  color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the navbar is above other content */
}

.brand-logo-web {
  display: flex;
  align-items: center;
  z-index: 1002;
  animation: scaleIn 0.5s ease-in-out, float 3s ease-in-out infinite; /* Add 3D animation */
  margin-left: 20px;
}

.brand-logo-web img {
  height: 80px;
}

.navbar-links-web {
  flex: 1;
  display: flex;
  justify-content: center; /* Center the ul element */
}

.navbar-links-web ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
  margin-right: 20px;
}

.navbar-links-web ul li {
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for hover effect */
}

.navbar-links-web ul li a {
  text-decoration: none;
  color: #05152d;
  font-weight: 600; /* Set font weight to SemiBold */
  font-style: italic; /* Set font style to Italic */
  transition: color 0.3s ease; /* Add transition for hover effect */
}

.navbar-links-web ul li a:hover {
  color: #0000ff; /* Change color on hover to blue */
}

/* Mobile view styles */
.navbar-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffff; /* Add background color */
  color: rgb(0, 0, 0);
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  margin: 0; /* Ensure no margin */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the navbar is above other content */
}

.brand-logo-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1002;
  animation: scaleIn 0.5s ease-in-out, float 3s ease-in-out infinite; /* Add 3D animation */
  margin: 0; /* Ensure no margin */
}

.brand-logo-mobile img {
  height: 80px;
}

.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-links-mobile {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center; /* Center align the navbar links */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.navbar-links-mobile.open {
  display: flex;
  max-height: 500px; /* Adjust as needed */
  opacity: 1;
}

.navbar-links-mobile ul {
  list-style: none;
  flex-direction: column;
  width: 100%;
  align-items: center; /* Center align the list items */
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.navbar-links-mobile ul:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.navbar-links-mobile ul li {
  width: 100%;
  text-align: center; /* Center align the list items */
  margin: 1.5rem 0;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for hover effect */
}

.navbar-links-mobile ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center; /* Center align the text */
  text-decoration: none;
  color: #05152d;
  font-weight: 600; /* Set font weight to SemiBold */
  font-style: italic; /* Set font style to Italic */
  transition: color 0.3s ease; /* Add transition for hover effect */
}

.navbar-links-mobile ul li:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.navbar-links-mobile ul li a:hover {
  color: #0000ff; /* Change color on hover to blue */
}

/* Ensure no transition effect on web view */
.navbar-list-web li {
  opacity: 1;
  transform: none;
  transition: none;
}