@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --main-bg: #ffffff;
  --header-bg: #05152d;
  --sidebar-bg: #081f42;
  --onhoverdiv-bg: #9d9d9e67;
  --popup-contentdiv-bg: #3f4a5e;
  --contentdiv-bg: #e3e6e7;
  --main-color: black;
  --header-color: #f0f0f0;
  --sidebar-color: #f0f0f0;
  --contentdiv-color: #f0f0f0;
  --text-highlight-color: #00ffbc;
  /* max-width: 1280px; */
  
}

body {
  font-family: 'Montserrat', 'Open Sans', 'Playfair Display', sans-serif;
  background-color: var(--main-bg);
  color: var(--main-color);
  margin: 0;
  padding: 0;
}

body.dark {
  --main-bg: #031127;
  --header-bg: #122644;
  --sidebar-bg: #122644;
  --onhoverdiv-bg: #9d9d9e67;
  --popup-contentdiv-bg: #3f4a5e;
  --contentdiv-bg: white;
  --main-color: white;
  --header-color: #f0f0f0;
  --sidebar-color: white;
  --contentdiv-color: white;
  --text-highlight-color: #00ffbc;
}
