

:root {
  --main-bg: #ffffff;
  --header-bg: #05152d;
  --sidebar-bg: #081f42;
  --onhoverdiv-bg: #9d9d9e67;
  --popup-contentdiv-bg: #3f4a5e;
  --contentdiv-bg: #e3e6e7;
  --main-color: black;
  --header-color: #f0f0f0;
  --sidebar-color: #f0f0f0;
  --contentdiv-color: #f0f0f0;
  --text-highlight-color: #00ffbc;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body.dark {
  --main-bg: #031127;
  --header-bg: #122644;
  --sidebar-bg: #122644;
  --onhoverdiv-bg: #9d9d9e67;
  --popup-contentdiv-bg: #3f4a5e;
  --contentdiv-bg: white;
  --main-color: white;
  --header-color: #f0f0f0;
  --sidebar-color: white;
  --contentdiv-color: white;
  --text-highlight-color: #00ffbc;
}
